aiapy==0.12.0
astropy==7.2.0
fsspec==2026.4.0
loguru==0.7.3
matplotlib==3.10.9
# This is max Python 3.13 at the moment
mplcairo==0.6.1
numpy==2.4.4
pandas==3.0.2
pillow==12.2.0
psycopg2-binary==2.9.12
pydantic-settings==2.14.0
pydantic==2.13.3
requests==2.33.1
schedule==1.2.2
sentry-sdk==2.58.0
sqlalchemy-utils==0.42.1
sqlalchemy==2.0.49
sunpy[map]==7.1.2
